/* רווח כללי */
.home-container {
    margin-top: 20px;
  }
  
  /* שורת חיפוש */
  .search-bar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .map-button {
    flex: 0.2;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* הצעות */
  .suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }
  
  .suggestion-item:hover {
    background-color: #f4f4f4;
  }
  
  /* רשימה */
  .station-list {
    margin-top: 20px;
  }
  
  .station-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    margin-bottom: 10px;
  }
  
  .station-name {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .station-address {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .station-status {
    font-weight: bold;
  }
  
  .station-status.available {
    color: #28a745;
  }
  
  .station-status.occupied {
    color: #dc3545;
  }
  
  .station-wait-time {
    font-size: 14px;
  }
  